header {
  background:rgb(22, 22, 21);
  border-bottom:2px outset rgb(209, 21, 21);
  margin-bottom:2em;
  padding:0 2em;
  text-align: center;
  color: whitesmoke;

  h1 {
    margin:0;
    font-size:1.5em;
    line-height:2em;
    color: white;
  }
}